@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --color-text1:rgb(100, 100, 192);
}

@font-face {
  font-family: 'Quicksand-light';
  src: url(../public/fonts/Quicksand-Light.ttf);
}

@font-face {
  font-family: 'Quicksand-Medium';
  src: url(../public/fonts/Quicksand-Medium.ttf
  );
}

@font-face {
  font-family: 'Quicksand-Regular';
  src: url(../public/fonts/Quicksand-Regular.ttf);
}

@font-face {
  font-family: 'Quicksand-SemiBold';
  src: url(../public/fonts/Quicksand-SemiBold.ttf);
}

@font-face {
  font-family: 'Quicksand-Bold';
  src: url(../public/fonts/Quicksand-Bold.ttf);
}

body {
  margin: 0;
  font-family: 'Quicksand-Regular';
  color: rgb(100 116 139 / var(--tw-text-opacity))
}

header i{
  font-size: 1.5vw;
}

.text-s{
  font-size: 1vw;
}

strong{
  font-family: 'Quicksand-Bold';
}

.text-m{
  font-size:1.5vw;
}

.text-g{
  font-size: 2.5vw;
}

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(200, 200, 200, 0.071);
  width: 100%;
  box-shadow: 0 -2px 5px rgba(128, 128, 128, 0.688);
}

@media screen and (max-width: 1197px) {
  header{
    width: fit-content;
  }
}

nav svg{
  cursor:pointer !important;
}

.title-header{
  background-color: white;
}

.title-header, header svg{
  --tw-text-opacity: 1;
    color: rgb(100 116 139);
    font-weight: 600;
}

.search{
  display: flex;
  align-items: center;
  border: 1px solid rgb(128 135 145 / 30%);
  padding: 7px 3px;
  border-radius: 5px;
  background-color: rgba(200, 200, 200, 0.071);
}

.search input{
  background-color: rgba(200, 200, 200, 0.071);
}

input:focus-visible{
    outline: none !important;
}

.logo-shadow{
  box-shadow: -1px -1px 5px rgba(128, 128, 128, 0.688);
}

.nav-shadow{
  box-shadow: -1px -1px 5px rgba(128, 128, 128, 0.688);
}

.menu{
  background-color: rgba(200, 200, 200, 0.071);
  box-shadow: -1px 6px 5px rgba(128, 128, 128, 0.688);
}
