@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --color-text1:rgb(70 100 174 / 89%);
}

@font-face {
  font-family: 'Quicksand-light';
  src: url(../public/fonts/Quicksand-Light.ttf);
}

@font-face {
  font-family: 'Quicksand-Medium';
  src: url(../public/fonts/Quicksand-Medium.ttf
  );
}

@font-face {
  font-family: 'Quicksand-Regular';
  src: url(../public/fonts/Quicksand-Regular.ttf);
}

@font-face {
  font-family: 'Quicksand-SemiBold';
  src: url(../public/fonts/Quicksand-SemiBold.ttf);
}

@font-face {
  font-family: 'Quicksand-Bold';
  src: url(../public/fonts/Quicksand-Bold.ttf);
}

body {
  margin: 0;
  font-family: 'Quicksand-Regular';
  color: rgb(100 116 139 / var(--tw-text-opacity))
}

header i{
  font-size: 1.5vw;
}

.text-s{
  font-size: 1vw;
}

@media screen and (max-width:767px){
  .text-s{
    font-size: 3vw;
  }
}

.active{
  background-image: linear-gradient(45deg, rgba(67, 93, 159, 0.89), rgba(67, 95, 166, 0.89), rgba(108, 146, 243, 0.89));
  color: white;
  position: relative;
  border-radius: 0px 5px 25px 0px;
}

.active svg:not(.arrow){
  color:white;
  background-color: rgba(132, 166, 254, 0.89);
  border-radius: 0px 5px 13px 0px;
  border-right: 2px solid rgb(198, 198, 198);
  margin-right: 2vw;
}

strong{
  font-family: 'Quicksand-Bold';
}

.text-m{
  font-size:1.5vw;
}

.text-g{
  font-size: 2.5vw;
}

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.785);
  width: 100%;
  box-shadow: 0 -2px 5px rgba(128, 128, 128, 0.688);
  z-index: 100;
}

@media screen and (max-width: 1197px) {
  header{
    width: fit-content;
  }
}

@media screen and (max-width:767px) {
  .menu{
    width: 70vw;
    background-color: white !important;
  }
}

#section-menu-mobile{
  transition: left 0.4s ease-in-out;
}

.close-btn{
    display: none;
    position: fixed;
    right: 5px;
    top: 5px;
    width: 8vw;
}

nav svg{
  cursor:pointer !important;
}

.title-header{
  background-color: white;
}

.title-header, header svg{
  --tw-text-opacity: 1;
    color: rgb(100 116 139);
    font-weight: 600;
}

.search{
  display: flex;
  align-items: center;
  border: 1px solid rgb(128 135 145 / 30%);
  padding: 7px 3px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  z-index: 100;
  transition: all 0.3s ease-in-out;
}

.search input{
  background-color: rgba(200, 200, 200, 0.071);
}

input:focus-visible{
    outline: none !important;
}

.logo-shadow{
  box-shadow: -1px -1px 5px rgba(128, 128, 128, 0.688);
}

.nav-shadow{
  box-shadow: -1px -1px 5px rgba(128, 128, 128, 0.688);
}

.menu{
  background-color: rgb(255 255 255 / 58%);
  box-shadow: -1px 6px 5px rgba(128, 128, 128, 0.688);
}

.menu-unique svg{
  transition: all 0.3s ease-in-out;
}

.menu-unique:not(.active):hover svg{
    color: white;
    background-color: rgb(163, 193, 254);
    border-radius: 0px 5px 13px 0px;
    border-right: 2px solid rgba(132, 166, 254, 0.89);
    margin-right: 2vw;
}

.sub-menu svg{
  transition: 0.3s ease-in-out;
}

.sub-menu:hover svg:not(.arrow, .arrow2){
    color: white;
    background-color: rgb(163, 193, 254);
    border-radius: 0px 5px 13px 0px;
    border-right: 2px solid rgba(132, 166, 254, 0.89);
    margin-right: 2vw;
}

.menu:hover{
  overflow-y: scroll;
}

.header-icon:hover{
  background-color: rgba(200, 200, 200, 0.34);
}

.in-menu{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 1.5vw;
  border-left: 1px solid rgb(222, 222, 222);
}

.in-menu span{
  padding-top: 0.5rem;
  padding-bottom: 0,5rem;
  width: 12vw;
  padding-left: 1rem;
  cursor: pointer;
}

.in-menu .dropdown, .in-menu .dropdown2{
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  width: 100%;
  height: 0px;
  transition: height 0.3s ease;
}

div.in-menu span:hover{
  border-left: 1px solid var(--color-text1);
}

.language-select{
  box-shadow: 1px 1px 5px gray;
}

/* Estilizando o scrollbar */
::-webkit-scrollbar {
  width: 3px; /* Largura do scrollbar */
}

/* Estilizando o thumb (a "alça" do scrollbar) */
::-webkit-scrollbar-thumb {
  background-color: rgba(128, 128, 128, 0.445); /* Cor de fundo do thumb */
  border-radius: 10px; /* Raio da borda do thumb */
}

/* Estilizando a trilha (o "fundo" do scrollbar) */
::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Cor de fundo da trilha */
}

/* Estilizando a trilha quando o thumb estiver sobre ela */
::-webkit-scrollbar-track:hover {
  background-color: transparent; /* Cor de fundo da trilha quando o thumb está sobre ela */
}
.svg-title{
  pointer-events: none;
  opacity: 0;
  transition: all 0.4s;
}

.banner-tryNow{
  background-image: linear-gradient(#6183cc, #6183cc, #758fc6, #758fc6);
}

.card{
  box-shadow: 1px 1px 5px gray;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

@media screen and (max-width:767px) {
  .card{
    margin-top: 2rem !important;
  }
  .simplebar-content{
    overflow-x: auto;
  }
}